<div class="card shadow rounded" style=" background-color: #ffffff; text-white greenborder mb-4">
  <div class="card-body">
    <div class="row">
      <h4 class="ml-3">Placement Service Assam Job Portal</h4>
      <p class="ml-3"><span class="text-info">Full-Time</span></p>
      <p class="ml-3"><span class="text-info">All</span></p>   
    </div>
    <img class="img-fluid"  align="right" src="static/Assam_Job_Portal200.png" alt="Assam Job Portal">
    <p class="mb-1">Publish Date: <span> Fri Nov 19 2021 </span></p>
    <p class="mb-1">Last Date: <span> Fri Nov 19 2023 </span></p>
    <p class="mb-1" style="color:#ac1616" ><strong><i class="fa-solid fa-briefcase"></i>  Assam Job Finder, Inc.</strong></p>
    <p class="mb-1">Description : <span class="text-info">Placement services for candidate Guwahati has work for all kinds of businesses- large, medium, small-scale companies.</span></p>
    <p class="mb-1">Job Location : <span class="text-info">Based On Locations</span></p>
    <p class="mb-1">District : <span class="text-info"> All District</span></p>
    <p class="mb-1">Salary : <span class="text-info">₹10,000 to ₹1Lakh</span></p>
    <div class="tech">
      <p class="mb-1">Educational Qualification: <span class="text-info">10th, 12th, Graduate, Post Graduate Degree</span></p>
    </div>
    <div>
      <a href="tel:7399706872" style="color:#1ac8c0"><i class="fa-solid  fa-phone"></i>&nbspCall</a>&nbsp
      <a href="mailto:assamjobfinder@gmail.com" style="color:#1ac8c0"><i class="fa-solid fa-envelope"></i>&nbspContact</a>&nbsp
      <a href="https://www.assamjobfinder.com/" style="color:#1ac8c0"><i class="fa-regular fa-file-lines"></i>&nbspApply Now</a>&nbsp
    </div>
  </div>
</div>
