<div id="loading"></div>
<div class="jss4"><img src="/static/Assam_Job_Portal.jpg" class="jss3"></div>
<div class="jss1" style="margin-bottom: 60px;">
    <div class="MuiGrid-root jss5 MuiGrid-container MuiGrid-align-items-xs-center"></div>
    <div class="MuiGrid-root jss945 MuiGrid-container">
        <div class="jss947">
            <h2 class="jss948">
                <center>
                    <h3>About us Page</h3>
                </center>
            </h2>
            <div class="jss952" style="color:#e00808">
                <br>
                <br>
                <br>
                <img class="img-fluid" align="right" src="static/Assam_Job_Portal200.png" alt="Card image cap">

                Assam Job Portal connects job seekers with employment opportunities
                across the Assam . As the Assam Job Portal official
                employment site, Assam Job Portal helps the right people find the right jobs.

                </li>
            </div>
            <br>
            <br>
            <br>
            <li><b>For jobseeker :</b>On clicking ‘WhatsApp or ‘Call’ and online apply by the Jobseeker,
                Jobseekers can direct contact with Employer and apply for online job posts by clicking on the apply
                link.
                Jobseeker’s Name and other details including Mobile No. will be shared with the Employer so that you may
                be contacted by the Employer for further process related to your employment.</li>
            <Jobseekers’>
                <li><b>For Employer :</b>Similarly, on submitting job posting by the employer, vacancy details with the
                    details of the employer's organization will appear on the Assam Job Finder portal so that eligible
                    candidates may apply against such vacancies for gainful employment Jobseekers’ data, shared with the
                    Employers are for the sole purpose of gainful employment. Accordingly, it should not be used
                    otherwise.</li>
                </Jobseekers>
        </div>
    </div>
</div>