<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    <meta name="theme-color" content="#2B44FF">
    <link rel="icon" type="image/x-icon" href="static/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta charset="utf-8">
</head>
<body  data-new-gr-c-s-check-loaded="14.1032.0" data-gr-ext-installed="">
        <div id="loading"></div>
        <div class="jss1">
            <div class="MuiGrid-root jss5 MuiGrid-container MuiGrid-align-items-xs-center"></div>
            <div class="jss111">
                <div
                    class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-center MuiGrid-justify-xs-space-between">
                    <div class="MuiGrid-root MuiGrid-item"><img src="static/assam.png" height="34px" width="103px"></div>
                    <div class="MuiGrid-root MuiGrid-item"><img src="static/logo.png" height="61px" width="61px"></div>
                </div>
                <div class="MuiGrid-root jss112 MuiGrid-container">
                    <div
                        class="MuiGrid-root jss113 jss124 MuiGrid-container MuiGrid-item MuiGrid-direction-xs-column MuiGrid-justify-xs-space-between">
                        <div class="MuiGrid-root jss114 MuiGrid-container MuiGrid-item MuiGrid-direction-xs-column">
                            <div class="jss115"><span class="jss116">চাকৰি তৈয়াৰ কৰিব বিচাৰো সকল, </span><span class="jss117">
                                    চাকৰি বিচৰা সকল</span></div>
                            <div class="jss120">আপোনালোক দুয়োকে ইয়াত পাব</div>
                        </div><iframe width="100%" height="250" src="https://www.youtube.com/embed/G0WrBdCbkUU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe><button
                            class="MuiButtonBase-root MuiButton-root jss122 MuiButton-contained MuiButton-containedPrimary"
                            tabindex="0" type="button"><span class="MuiButton-label"
                                onClick="location.href='/searchjob'">মই এটা চাকৰি বিচাৰিম / I want a
                                job</span><span class="MuiTouchRipple-root"></span> </button><button
                            class="MuiButtonBase-root MuiButton-root jss123 MuiButton-contained MuiButton-containedSecondary"
                            tabindex="0" type="button"><span class="MuiButton-label"
                                onClick="location.href='/signup'">মই চাকৰি তৈয়াৰ কৰিব বিচাৰো/ I want to
                                hire</span><span class="MuiTouchRipple-root"></span></button>
                        <div style="padding:10px;margin:20px 0 0;background:transparent;color:blue" color="primary"
                            variant="contained" class="jss123">
                            <marquee></marquee>
                        </div>
                    </div>
                    <div class="MuiGrid-root jss113 MuiGrid-item" style="text-align:center"><img
                            src="static/assam_job_portal_logo.png" class="jss121"></div>
                </div>
                <div class="jss118">মই
                    <!-- --> <a class="jss119" href="/terms-conditions">Terms &amp; Conditions</a> <!-- -->আৰু
                    <!-- --> <a class="jss119" href="/privacy">Privacy Policy</a> <!-- -->মই ইয়াৰ সৈতে সন্মত
                </div>
                <div class="jss118" style="padding:0;margin:0 0 20px"><a href="https://forms.gle/fb5Vrusg7LyyNuZp6"
                        class="jss119" target="_blank">Contact Us</a> <a class="jss119" href="/disclaimer">Disclaimer</a><a class="jss119" href="/about-us">About</a> </div>
                        
            </div>
        </div>
  
    
    
</body>
</html>