<div id="loading"></div>
<div class="jss4"><img src="/static/Assam_Job_Portal.jpg" class="jss3"></div>
<div class="jss1" style="margin-bottom: 60px;">
    <div class="jss952"></div>
    <h2>
        <center><i class="fa-regular fa-user" style="color:#e00707"></i></center>
    </h2>
    <div class="jss947">
        <center>
            <h2 class="jss948">Welcome To Assam Job Portal</h2>
        </center>

        <div class="MuiGrid-root jss112 MuiGrid-container">
            <div
                class="MuiGrid-root jss113 jss124 MuiGrid-container MuiGrid-item MuiGrid-direction-xs-column MuiGrid-justify-xs-space-between">
                <button class="MuiButtonBase-root MuiButton-root jss122 MuiButton-contained MuiButton-containedPrimary"
                    tabindex="0" type="button"><span class="fa-regular fa-square-plus" class="MuiButton-label"
                        onClick="location.href='/postjob'">
                        Post A
                        job</span><span class="MuiTouchRipple-root"></span></button>
                <button
                    class="MuiButtonBase-root MuiButton-root jss123 MuiButton-contained MuiButton-containedSecondary"
                    tabindex="0" type="button"><span class="fas fa-search" class="MuiButton-label"
                        onClick="location.href='/searchjob'">
                        Search Job</span><span class="MuiTouchRipple-root"></span></button>
                <button class="MuiButtonBase-root MuiButton-root jss122 MuiButton-contained MuiButton-containedPrimary"
                    tabindex="0" type="button"><span class="fa-solid fa-right-from-bracket" class="MuiButton-label"
                        onClick="location.href='/logout'">
                        Logout</span><span class="MuiTouchRipple-root"></span></button>
            </div>
        </div>
        <br>
        <br>
        <p><br /></p>
        <p
            style="background-color: white; color: #1f1f1f; font-family: &quot;Google Sans Text&quot;, Roboto, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 14px; margin: 0.25rem 0px 0.75rem;">
            &nbsp;</p>
        <p class="align-center"
            style="background-color: white; color: #1f1f1f; font-family: &quot;Google Sans Text&quot;, Roboto, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 14px; margin: 0.25rem 0px 0.75rem; text-align: center;">
            <a class="btn btn-raised" href="/packages"
                style="background-color: #0b57d0; border-radius: 0.1875rem; box-shadow: rgba(48, 48, 48, 0.3) 0px 1px 2px 0px, rgba(48, 48, 48, 0.15) 0px 1px 3px 1px; color: #f2f2f2; display: inline-block; font-family: &quot;Google Sans&quot;, &quot;Google Sans Text&quot;, Roboto, sans-serif; font-size: 0.875rem; line-height: 2.25rem; min-width: 3.375rem; padding: 0px 1.5rem; text-decoration-line: none; white-space: nowrap;">Standard
                Job Post</a><br> Available Packages</p>
        <h2 class="" data-outlined="false"
            style="background-color: white; color: #1f1f1f; font-family: &quot;Google Sans&quot;, &quot;Google Sans Text&quot;, Roboto, sans-serif; font-size: 1.5rem; font-weight: 400; line-height: 2rem; margin: 2rem 0px 0.5rem;">
            <br />
        </h2>

    </div>